/*body {margin:25px; font:11px Verdana,Arial; background:#eee}*/
ul.menu2 {list-style:none; margin:0; padding:0}
ul.menu2 * {margin:0; padding:0}
ul.menu2 a {display:block; color:#000; text-decoration:none}
ul.menu2 li {position:relative; float:left; margin-right:2px}
ul.menu2 ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.menu2 ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.menu2 ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu2 ul li a:hover {background-color:#c5c5c5}
ul.menu2 ul ul {left:148px; top:-1px}
ul.menu2 .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(images/header.gif); width:134px}
ul.menu2 .menulink:hover, ul.menu2 .menuhover {background:url(images/header_over.gif)}
ul.menu2 .sub {background:#d1d1d1 url(images/arrow.gif) 136px 8px no-repeat}
ul.menu2.topline {border-top:1px solid #aaa}