



.inp-form	{
	background: url(../images/forms/form_inp.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
 
	padding: 6px 6px 0 6px;
	width: 186px;
	}


.inp-textarea	{
	background: url(../images/forms/form_textarea2.gif) no-repeat;
	border: none;
	color: #393939;
	height: 110px;
 
	padding: 6px 6px 0 6px;
	width: 280px;
	}

	
	.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url(../images/forms/error_left.gif) no-repeat;
}
.inp-form-error	{
	background: url(../images/forms/form_inp_error.gif) no-repeat;
	border: none; 
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 187px;
	}
	
	#id-form td	{
	padding: 0 0 10px 0;
	}
#id-form td.noheight	{
	padding: 0 0 0px 0;
	}
#id-form th	{
	line-height: 28px;
	min-width: 130px;
	padding: 0 0 10px 0;
	text-align: left;
	width: 130px;
	}

	
	
	
	.error-inner {
	float:left;
	padding: 7px 10px 0 4px;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url(../images/forms/error_right.gif) right  no-repeat;
}

.form-submit	{
	background: url(../images/forms/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
	width: 80px;
	}
.form-reset	{
	background: url(../images/forms/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
	}
#id-form	{
	}
	
	
	.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
#related-activities	{
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
	}
#related-act-top	{
	font-size: 0px;
	line-height: 0;
	}
#related-act-bottom	{
	background: url(../images/forms/bg_related_act.gif) no-repeat bottom;
	font-size: 0px;
	line-height: 0;
	}
#related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
	}
#related-act-inner .left	{
	float: left;
	width: 30px;
	}
#related-act-inner .right	{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
	}
#related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
	}
ul.greyarrow li a	{
	color: #92b22c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
	}
.lines-dotted-short	{
	background: url(../images/forms/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0;
	}
	
	.styledselect-day ,
.styledselect-month ,
.styledselect-year	{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
	
	}
	
	.styledselect-normal 
	{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 150px;
	
	}
	
	
	
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
	
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
	}
ul.greyarrow li a	{
	color: #92b22c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
}

.styledselect_form_1	{
	background: url(../images/forms/form_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 6px;
	text-align: left;
	width: 192px;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
